{% extends "base" %}

{% block title %}Home{% endblock title %}

{% block content %}
<h2 align="center">The ACWC has started!</h2>
<p>
  Useful links:
  <ul>
    <li><a href="/rules/2020">ACWC rules</a></li>
    <li><a href="/2020/qualification">Qualification entrant list</a></li>
    <li><a href="https://lichess.org/forum/team-antichess-wc/acwc-2020-pairings-and-match-results">Pairings and match times forum post</a></li>
  </ul>
</p>
{% endblock content %}
