{% extends "base" %}

{% block title %}Home{% endblock title %}

{% block content %}
<h2 align="center">Registrations are open!</h2>
<h3 align="center">Please carefully read <a href="/rules/2019">THE RULES</a> before entering!</h3>
{% endblock content %}
